{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Neuton:wght@700&display=swap"
  rel="stylesheet"
/>
<body>
  <section class="container">
    <h1>You are voting for:</h1>
    <h2>{{ question.question_text }}</h2>
    <h3>Check back later to vote!</h3>
    <div class="button-center">
      <a id="to-homepage" href="{% url 'polls:index' %}">
        <button>Back</button>
      </a>
    </div>
  </section>
</body>
